In [3]:
import polars as pl

In [4]:
from glob import glob
DIR = '/home/anhphantq/ensemble/*.csv'
paths = glob(DIR, recursive= True) 
paths

['/home/anhphantq/ensemble/587_submission.csv',
 '/home/anhphantq/ensemble/submission_588_21_1.csv',
 '/home/anhphantq/ensemble/submission_second_588.csv',
 '/home/anhphantq/ensemble/submission_589_20_1.csv',
 '/home/anhphantq/ensemble/submission_first_588.csv',
 '/home/anhphantq/ensemble/586_submission.csv',
 '/home/anhphantq/ensemble/submission_588_latest.csv']

In [5]:
def read_sub(path, weight=1): # by default let us assing the weight of 1 to predictions from each submission, this will be akin to a standard vote ensemble
    '''a helper function for loading and preprocessing submissions'''
    return (
        pl.read_csv(path)
            .with_column(pl.col('labels').str.split(by=' '))
            .with_column(pl.lit(weight).alias('vote'))
            .explode('labels')
            .rename({'labels': 'aid'})
            .with_column(pl.col('aid').cast(pl.UInt32)) # we are casting the `aids` to `Int32`! memory management is super important to ensure we don't run out of resources
            .with_column(pl.col('vote').cast(pl.UInt8))
    )

In [6]:
subs = [read_sub(path) for path, weight in zip(paths, [3,0.5,0.5,5,2,3,2])]
subs[0].head()

shape: (5, 3)
┌─────────────────┬─────────┬──────┐
│ session_type    ┆ aid     ┆ vote │
│ ---             ┆ ---     ┆ ---  │
│ str             ┆ u32     ┆ u8   │
╞═════════════════╪═════════╪══════╡
│ 12899779_clicks ┆ 59625   ┆ 1    │
│ 12899779_clicks ┆ 737445  ┆ 1    │
│ 12899779_clicks ┆ 1354960 ┆ 1    │
│ 12899779_clicks ┆ 941596  ┆ 1    │
│ 12899779_clicks ┆ 1253524 ┆ 1    │
└─────────────────┴─────────┴──────┘

In [7]:
subs = subs[0].join(subs[1], how='outer', on=['session_type', 'aid']).join(subs[2], how='outer', on=['session_type', 'aid'], suffix='_right2')
subs.head()

shape: (5, 5)
┌─────────────────┬─────────┬──────┬────────────┬─────────────┐
│ session_type    ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 │
│ ---             ┆ ---     ┆ ---  ┆ ---        ┆ ---         │
│ str             ┆ u32     ┆ u8   ┆ u8         ┆ u8          │
╞═════════════════╪═════════╪══════╪════════════╪═════════════╡
│ 12899779_clicks ┆ 59625   ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 941596  ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 737445  ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 1253524 ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 894169  ┆ 1    ┆ 1          ┆ 1           │
└─────────────────┴─────────┴──────┴────────────┴─────────────┘

In [8]:
subs = (subs
    .fill_null(0)
    .with_column((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
    .drop(['vote', 'vote_right', 'vote_right2'])
    .sort(by='vote_sum')
    .reverse()
)

subs.head()

shape: (5, 3)
┌─────────────────┬─────────┬──────────┐
│ session_type    ┆ aid     ┆ vote_sum │
│ ---             ┆ ---     ┆ ---      │
│ str             ┆ u32     ┆ u8       │
╞═════════════════╪═════════╪══════════╡
│ 14571581_orders ┆ 1392029 ┆ 3        │
│ 14571581_orders ┆ 555996  ┆ 3        │
│ 14571581_orders ┆ 785201  ┆ 3        │
│ 14571581_orders ┆ 1158237 ┆ 3        │
│ 14571581_orders ┆ 1678885 ┆ 3        │
└─────────────────┴─────────┴──────────┘

In [9]:
%%time
preds = subs.groupby('session_type').agg([
    pl.col('aid').head(20).alias('labels')
])

preds = preds.with_column(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

CPU times: user 3min 20s, sys: 11.4 s, total: 3min 31s
Wall time: 2min 24s

In [10]:
preds

shape: (5015409, 2)
┌─────────────────┬─────────────────────────────────────┐
│ session_type    ┆ labels                              │
│ ---             ┆ ---                                 │
│ str             ┆ str                                 │
╞═════════════════╪═════════════════════════════════════╡
│ 13943586_orders ┆ 87218 392090 976943 879782 56336... │
│ 12922939_carts  ┆ 369224 1802254 1531810 1037441 4... │
│ 14390047_orders ┆ 289762 1658239 1746101 392237 94... │
│ 13596719_clicks ┆ 1272551 639239 975373 99923 1543... │
│ ...             ┆ ...                                 │
│ 14522457_orders ┆ 1366533 1279481 278968 1072424 7... │
│ 13567342_carts  ┆ 1727461 824944 952987 1238112 39... │
│ 13668563_carts  ┆ 909926 1788072 347884 275708 105... │
│ 13045353_clicks ┆ 1068784 169216 1058449 1554258 1... │
└─────────────────┴─────────────────────────────────────┘

In [11]:
FILE_NAME = 'haizz_ensemble_submission.csv'
preds.write_csv(FILE_NAME)

In [12]:
!kaggle competitions submit -c otto-recommender-system -f {FILE_NAME} -m "hehe"

100%|████████████████████████████████████████| 782M/782M [00:40<00:00, 20.4MB/s]
Successfully submitted to OTTO – Multi-Objective Recommender System